    <div class="content-box-content">
        {% if enctype %}
        <form action="{{ action }}" method="POST" enctype="{{ enctype }}">
        {% else %}
        <form action="{{ action }}" method="POST">
        {% endif %}
        {% csrf_token %}
            {% block fields %}
            {% for field in form %}
                {% if field.is_hidden %}
                    <p>
                        {{ field }}
                    </p>
                {% else %}
                    {% include "default-field.html" %}
                {% endif %}
            {% endfor %}
            {% endblock %}
            <p>
			<input class="button column-left" type="submit" name="submit" value="Submit"/>
			</p>
        </form>
    </div>
