<body>
    <h1>bjango home: {{ text }}</h1>
<p>{{ request.session.bjango_ident }}</p>
<p> <a href="/convert">Make your dreams come true!</a> </p>



<p> <a href="/register">Register</a> </p>
<p> <a href="/results">See experimental results</a> </p>
</body>
