<h1> Results </h1>
{% for exp in experiments %}
    {% if exp.ready_for_testing and exp.is_significant %}
    <div style="background-color: green;">
    {% else %}
    <div style="background-color: red;">
    {% endif %}
    <h2>{{ exp.name }}</h2>
    <p>
    {% if exp.ready_for_testing %}
    The z-score is {{ exp.zscore }}. The p-value is {{ exp.p_value }}.
    Most importantly it is <b> {% if not exp.is_significant %} not {% endif %}
        significant.</b> 
    {% else %}
    There are not enough visitors or the wrong number of alternatives (should be 2)
    for the z-score test.
    {% endif %}
    </p>
    <h3>Alternatives</h3>
    <table>
        <tr>
            <th>Content</th>
            <th>Visitors</th>
            <th>Views</th>
            <th>Conversions</th>
            <th>Conversion Rate</th>
        </tr>
        {% for alt in exp.alternative_set.all %}
            <tr>
                <td> {{ alt.content }} </td>
                <td> {{ alt.visitors }} </td>
                <td> {{ alt.views }} </td>
                <td> {{ alt.conversions }} </td>
                <td> {{ alt.conversion_rate }} </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endfor %}
